# PANDAS LAB - Continuation of the EuroLeague Case Study
## Let's compare the competitions!

![](https://eurospects.com/wp-content/uploads/2018/10/eurocupeuroleague.png)

First of all, we must 

- Import the actual.csv Dataset. This dataset will be the CSV of the result obtained in class.
- Import ec23.xlsx. This dataset correspond to the import the dataset corresponding to Eurocup. Don't worry, this time the Excel will be cleaned (almost)

<details>
    <summary> Lab results </summary>

![](https://media1.tenor.com/m/lx2WSGRk8bcAAAAC/pulp-fiction-john-travolta.gif)

PERO QUÉ OS HABÉIS CREÍDO

</details>

In [1]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\usuario_1\anaconda3\envs\ironhack\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\usuario_1\anaconda3\envs\ironhack\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

C:\Users\Usuario_1\AppData\Local\Temp\ipykernel_9800\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [6]:
elteams=pd.read_csv("actual.csv")
ecteams=pd.read_excel("ec2023.xlsx", index_col=False)

Let's analyze the EuroCup Dataframe! Is there any cleaning needed? Remember the basics: 
- Drop Null Values
- Drop Duplicate Rows
- Drop Strange Columns if you see any

In [7]:
# Your Code here: 
ecteams.sample()

,Unnamed: 0,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus
117,115,2023-11-08T18:00:00,6,U-BT Cluj-Napoca,ratiopharm Ulm,86,75.0,Local,86.0,11.0

In [8]:
ecteams.shape

(173, 10)

In [9]:
ecteams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  173 non-null    int64
 1   fecha       173 non-null    object
 2   ronda       173 non-null    int64
 3   local       173 non-null    object
 4   visitante   173 non-null    object
 5   localscore  173 non-null    int64
 6   roadscore   172 non-null    float64
 7   Winner      173 non-null    object
 8   Ganador     172 non-null    float64
 9   plusminus   172 non-null    float64
dtypes: float64(3), int64(3), object(4)
memory usage: 13.6+ KB

In [10]:
ecteams.fecha=pd.to_datetime(ecteams.fecha)

In [11]:
ecteams['Dia'] = ecteams['fecha'].map(lambda x: str(x)[:10])
ecteams['Hora'] = ecteams['fecha'].map(lambda x: str(x)[11:])
ecteams['Dia'] = ecteams['fecha'].dt.strftime('%Y-%m-%d')
ecteams['Hora'] = ecteams['fecha'].dt.strftime('%H:%M:%S')

In [12]:
ecteams.drop(columns='fecha', inplace=True)

In [13]:
ecteams.sample()

,Unnamed: 0,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus,Dia,Hora
72,72,10,Dolomiti Energia Trento,ratiopharm Ulm,83,85.0,Visitante,85.0,-2.0,2023-12-06,20:00:00

In [14]:
ecteams['Competition']='Eurocup'
ecteams['Phase']='Regular Season'

In [15]:
ecteams.drop(columns='Unnamed: 0', inplace=True)

In [16]:
ecteams.sample()

,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus,Dia,Hora,Competition,Phase
71,10,Dreamland Gran Canaria,Aris Midea Thessaloniki,93,65.0,Local,93.0,28.0,2023-12-06,21:00:00,Eurocup,Regular Season

In [17]:
ec_teams = ecteams.loc[:, ['Competition', 'Phase', 'ronda', 'Dia', 'Hora', 'local', 'visitante', 'localscore', 'roadscore','plusminus','Winner','Ganador' ]]

In [18]:
ec_teams.sort_values(['ronda', 'Dia', 'Hora'], inplace=True)

In [19]:
ec_teams.head()

,Competition,Phase,ronda,Dia,Hora,local,visitante,localscore,roadscore,plusminus,Winner,Ganador
172,Eurocup,Regular Season,1,2023-10-03,19:00:00,Hapoel Shlomo Tel Aviv,Cedevita Olimpija Ljubljana,100,73.0,27.0,Local,100.0
171,Eurocup,Regular Season,1,2023-10-03,19:30:00,ratiopharm Ulm,Dolomiti Energia Trento,80,70.0,10.0,Local,80.0
170,Eurocup,Regular Season,1,2023-10-03,20:30:00,Paris Basketball,Wolves Vilnius,105,78.0,27.0,Local,105.0
168,Eurocup,Regular Season,1,2023-10-04,18:00:00,U-BT Cluj-Napoca,Turk Telekom Ankara,80,71.0,9.0,Local,80.0
169,Eurocup,Regular Season,1,2023-10-04,18:00:00,Prometey Slobozhanske,Veolia Towers Hamburg,97,77.0,20.0,Local,97.0

In [20]:
ec_teams.isna().sum()

Competition    0
Phase          0
ronda          0
Dia            0
Hora           0
local          0
visitante      0
localscore     0
roadscore      1
plusminus      1
Winner         0
Ganador        1
dtype: int64

In [21]:
ec_teams_nd = ec_teams.dropna()

In [22]:
ec_teams_nd.isna().sum()

Competition    0
Phase          0
ronda          0
Dia            0
Hora           0
local          0
visitante      0
localscore     0
roadscore      0
plusminus      0
Winner         0
Ganador        0
dtype: int64

In [23]:
ec_teams_nd.shape

(172, 12)

In [24]:
duplicates = ec_teams_nd[ec_teams_nd.duplicated()]

In [25]:
duplicates

,Competition,Phase,ronda,Dia,Hora,local,visitante,localscore,roadscore,plusminus,Winner,Ganador
99,Eurocup,Regular Season,8,2023-11-21,19:30:00,Mincidelice JL Bourg en Bresse,Turk Telekom Ankara,86,67.0,19.0,Local,86.0
80,Eurocup,Regular Season,10,2023-12-05,19:30:00,Veolia Towers Hamburg,Prometey Slobozhanske,83,97.0,-14.0,Visitante,97.0

In [26]:
ec_teams_nd_final = ec_teams_nd.drop_duplicates()

In [27]:
ec_teams_nd_final.shape

(170, 12)

In [28]:
ec_teams_nd_final['roadscore'] = ec_teams_nd_final['roadscore'].astype(int)
ec_teams_nd_final['plusminus'] = ec_teams_nd_final['plusminus'].astype(int)

C:\Users\Usuario_1\AppData\Local\Temp\ipykernel_9800\3086154621.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ec_teams_nd_final['roadscore'] = ec_teams_nd_final['roadscore'].astype(int)
C:\Users\Usuario_1\AppData\Local\Temp\ipykernel_9800\3086154621.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ec_teams_nd_final['plusminus'] = ec_teams_nd_final['plusminus'].astype(int)

In [29]:
ec_teams_nd_final.sample()

,Competition,Phase,ronda,Dia,Hora,local,visitante,localscore,roadscore,plusminus,Winner,Ganador
5,Eurocup,Regular Season,17,2024-01-30,20:30:00,Joventut Badalona,Hapoel Shlomo Tel Aviv,85,91,-6,Visitante,91.0

In [30]:
ec_teams_nd_final.rename(columns={'Winner': 'ganador'}, inplace=True)

C:\Users\Usuario_1\AppData\Local\Temp\ipykernel_9800\3020745948.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ec_teams_nd_final.rename(columns={'Winner': 'ganador'}, inplace=True)

In [31]:
ec_teams_nd_final['Winner']=np.where(ec_teams_nd_final.plusminus>0, ec_teams_nd_final.local, ec_teams_nd_final.visitante)
ec_teams_nd_final['winner']=ec_teams_nd_final.apply(lambda row: row['local'] if row['plusminus']>0 else row ['visitante'], axis=1)

C:\Users\Usuario_1\AppData\Local\Temp\ipykernel_9800\3372016314.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ec_teams_nd_final['Winner']=np.where(ec_teams_nd_final.plusminus>0, ec_teams_nd_final.local, ec_teams_nd_final.visitante)
C:\Users\Usuario_1\AppData\Local\Temp\ipykernel_9800\3372016314.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ec_teams_nd_final['winner']=ec_teams_nd_final.apply(lambda row: row['local'] if row['plusminus']>0 else row ['visitante'], axis=1)

In [32]:
import warnings
warnings.filterwarnings("ignore")

In [33]:
ec_teams_nd_final.rename(columns= {'winner': 'Ganador'}, inplace=True)

In [34]:
ec_teams_nd_final['Ganador']=np.where(ec_teams_nd_final.plusminus>0, 'local', 'visitante')

In [35]:
ec_teams_nd_final.sample()

,Competition,Phase,ronda,Dia,Hora,local,visitante,localscore,roadscore,plusminus,ganador,Ganador,Winner,Ganador
77,Eurocup,Regular Season,10,2023-12-05,20:00:00,Slask Wroclaw,Mincidelice JL Bourg en Bresse,63,72,-9,Visitante,visitante,Mincidelice JL Bourg en Bresse,visitante

In [36]:
ec_teams_nd_final.drop(columns='Ganador', inplace=True)

In [37]:
ec_teams_nd_final.sample()

,Competition,Phase,ronda,Dia,Hora,local,visitante,localscore,roadscore,plusminus,ganador,Winner
18,Eurocup,Regular Season,16,2024-01-23,19:00:00,Buducnost VOLI Podgorica,ratiopharm Ulm,80,84,-4,Visitante,ratiopharm Ulm

In [38]:
ec_teams_nd_final['Ganador']=ec_teams_nd_final.apply(lambda row: row['local'] if row['plusminus']>0 else row ['visitante'], axis=1)

In [39]:
ec_teams_nd_final.sample()

,Competition,Phase,ronda,Dia,Hora,local,visitante,localscore,roadscore,plusminus,ganador,Winner,Ganador
140,Eurocup,Regular Season,4,2023-10-24,20:00:00,Umana Reyer Venice,Joventut Badalona,79,64,15,Local,Umana Reyer Venice,Umana Reyer Venice

In [40]:
ec_teams_nd_final.drop(columns='Ganador', inplace=True)

In [41]:
ec_teams_nd_final['Ganador']=np.where(ec_teams_nd_final.plusminus>0, ec_teams_nd_final.local, ec_teams_nd_final.visitante)

In [42]:
ec_teams_nd_final.sample()

,Competition,Phase,ronda,Dia,Hora,local,visitante,localscore,roadscore,plusminus,ganador,Winner,Ganador
137,Eurocup,Regular Season,4,2023-10-25,18:00:00,U-BT Cluj-Napoca,Buducnost VOLI Podgorica,89,74,15,Local,U-BT Cluj-Napoca,U-BT Cluj-Napoca

In [43]:
ec_teams_nd_final.drop(columns='Ganador', inplace=True)

In [44]:
ec_teams_nd_final['Ganador']=np.where(ec_teams_nd_final.plusminus>0, 'local', 'visitante')

In [45]:
ec_teams_nd_final.sample()

,Competition,Phase,ronda,Dia,Hora,local,visitante,localscore,roadscore,plusminus,ganador,Winner,Ganador
112,Eurocup,Regular Season,7,2023-11-14,18:00:00,Prometey Slobozhanske,Hapoel Shlomo Tel Aviv,98,89,9,Local,Prometey Slobozhanske,local

In [46]:
ec_teams_nd_final.head()

,Competition,Phase,ronda,Dia,Hora,local,visitante,localscore,roadscore,plusminus,ganador,Winner,Ganador
172,Eurocup,Regular Season,1,2023-10-03,19:00:00,Hapoel Shlomo Tel Aviv,Cedevita Olimpija Ljubljana,100,73,27,Local,Hapoel Shlomo Tel Aviv,local
171,Eurocup,Regular Season,1,2023-10-03,19:30:00,ratiopharm Ulm,Dolomiti Energia Trento,80,70,10,Local,ratiopharm Ulm,local
170,Eurocup,Regular Season,1,2023-10-03,20:30:00,Paris Basketball,Wolves Vilnius,105,78,27,Local,Paris Basketball,local
168,Eurocup,Regular Season,1,2023-10-04,18:00:00,U-BT Cluj-Napoca,Turk Telekom Ankara,80,71,9,Local,U-BT Cluj-Napoca,local
169,Eurocup,Regular Season,1,2023-10-04,18:00:00,Prometey Slobozhanske,Veolia Towers Hamburg,97,77,20,Local,Prometey Slobozhanske,local

In [47]:
ec_teams_nd_final.tail()

,Competition,Phase,ronda,Dia,Hora,local,visitante,localscore,roadscore,plusminus,ganador,Winner,Ganador
4,Eurocup,Regular Season,17,2024-01-31,18:00:00,Turk Telekom Ankara,Mincidelice JL Bourg en Bresse,64,68,-4,Visitante,Mincidelice JL Bourg en Bresse,visitante
3,Eurocup,Regular Season,17,2024-01-31,18:30:00,Cedevita Olimpija Ljubljana,London Lions,85,92,-7,Visitante,London Lions,visitante
2,Eurocup,Regular Season,17,2024-01-31,19:30:00,ratiopharm Ulm,Aris Midea Thessaloniki,66,86,-20,Visitante,Aris Midea Thessaloniki,visitante
1,Eurocup,Regular Season,17,2024-01-31,20:00:00,Dolomiti Energia Trento,Buducnost VOLI Podgorica,78,97,-19,Visitante,Buducnost VOLI Podgorica,visitante
0,Eurocup,Regular Season,17,2024-01-31,21:00:00,Dreamland Gran Canaria,U-BT Cluj-Napoca,111,113,-2,Visitante,U-BT Cluj-Napoca,visitante

In [48]:
ec_teams_nd_final.reset_index(inplace=True, drop=True)

In [49]:
ec_teams_nd_final.head()

,Competition,Phase,ronda,Dia,Hora,local,visitante,localscore,roadscore,plusminus,ganador,Winner,Ganador
0,Eurocup,Regular Season,1,2023-10-03,19:00:00,Hapoel Shlomo Tel Aviv,Cedevita Olimpija Ljubljana,100,73,27,Local,Hapoel Shlomo Tel Aviv,local
1,Eurocup,Regular Season,1,2023-10-03,19:30:00,ratiopharm Ulm,Dolomiti Energia Trento,80,70,10,Local,ratiopharm Ulm,local
2,Eurocup,Regular Season,1,2023-10-03,20:30:00,Paris Basketball,Wolves Vilnius,105,78,27,Local,Paris Basketball,local
3,Eurocup,Regular Season,1,2023-10-04,18:00:00,U-BT Cluj-Napoca,Turk Telekom Ankara,80,71,9,Local,U-BT Cluj-Napoca,local
4,Eurocup,Regular Season,1,2023-10-04,18:00:00,Prometey Slobozhanske,Veolia Towers Hamburg,97,77,20,Local,Prometey Slobozhanske,local

Let's now compare it with the EL dataset that we have: You might select a sample of both of them and see what are the inconsistencies!

In [50]:
#Your sample ecteams code here: 
ec_teams_nd_final.sample()

,Competition,Phase,ronda,Dia,Hora,local,visitante,localscore,roadscore,plusminus,ganador,Winner,Ganador
145,Eurocup,Regular Season,15,2024-01-17,19:30:00,ratiopharm Ulm,U-BT Cluj-Napoca,81,85,-4,Visitante,U-BT Cluj-Napoca,visitante

In [51]:
#Your sample elteams code here: 
elteams.sample()

,Competition,Phase,Ronda,Dia,Hora,Local,Visitante,Localscore,Visitantescore,Arbitros,Plusminus,Winner,Ganador
178,Euroleague,Regular Season,20,2024-01-10,20:30:00,FC Barcelona,Olympiacos Piraeus,86,78,"['BOLTAUZER, MATEJ', 'JOVCIC, MILIVOJE', 'ZAMO...",8,FC Barcelona,Local

What are the inconsistencies that you are seeing? Write them down!

- Arbtiros doesn't exist
- Different competitions so different teams
- Dates are different
- 

<details>
    <summary> Expand the box to see the inconsistencies </summary>

- The columns are named in lowercase and the columns in Euroleague are capitalized
- There are some missing columns (f.e. Arbitros)
- Fecha is not split in Dia and Hora
- `Winner and Ganador Columns show different data` are not the same! Be extremely careful about it

</details>

As you can see there are a lot of different inconsistencies right? 
But beofore starting cleaning like crazy people, let's take a second to know what do we want to compare: 

- The CLUBS are impossible to compare, as different competitions defines different clubs
- Both rounds (Eurocup has less rounds) and Dates (Different Dates) are also not really useful
- We don't have information about Arbitros

## Conclusion

### We must take into consideration what data we DO have in both dataframes to compare it propperly and don't use time cleaning unnecessary things. 

In this particular case, we will need to compare:

`Competition`: The main column that define one from another. 

Create the Competition column in the EuroCup dataframe, being the fixed value "Eurocup"

In [52]:
#Your Code here: 
#Lo hice arriba

`Ganador`: Being the actual values "Local" or "Visitante"

**BE CAREFUL**: Before changing the correct column to "Ganador" from the EC dataframe, there is a "Ganador" column with the incorrect information: STEP BY STEP!

In [53]:
#Drop the Column Ganador from the Eurocup Dataframe
#Lo hice arriba

In [54]:
#Rename the column with the actual information to "Ganador"
#Lo hice arriba

As seen in the first look at the dataframes, there was a problem with the columns: Are lower when they should be Capitalized, as in the Euroleague DataFrame. Change the column names to capitalize. 

is there a quick way to do it?

In [55]:
# Your code here:

Now it is time to just take the useful columns from each data! We will call the result subsets `comp_el` and `comp_ec`

REMEMBER: Use the same order of the columns for each dataset. 

Recommended order: Competition, Localscore, Roadscore, Plusminus, Ganador. **Nothing else is useful**

In [56]:
# Your code here: 
columnas_a_capitalizar = ['ronda', 'local', 'visitante','localscore', 'visitantescore', 'plusminus']

In [57]:
for column in columnas_a_capitalizar:
    ec_teams_nd_final.rename(columns={column: column.capitalize()}, inplace=True)

In [58]:
ec_teams_nd_final.sample()

,Competition,Phase,Ronda,Dia,Hora,Local,Visitante,Localscore,roadscore,Plusminus,ganador,Winner,Ganador
91,Eurocup,Regular Season,10,2023-12-05,19:30:00,Veolia Towers Hamburg,Prometey Slobozhanske,83,97,-14,Visitante,Prometey Slobozhanske,visitante

In [59]:
ec_teams_nd_final.rename(columns={'roadscore': 'Visitantescore'}, inplace=True)

In [60]:
ec_teams_nd_final.sample()

,Competition,Phase,Ronda,Dia,Hora,Local,Visitante,Localscore,Visitantescore,Plusminus,ganador,Winner,Ganador
156,Eurocup,Regular Season,16,2024-01-24,19:30:00,Veolia Towers Hamburg,Cedevita Olimpija Ljubljana,83,114,-31,Visitante,Cedevita Olimpija Ljubljana,visitante

In [61]:
elteams.sample()

,Competition,Phase,Ronda,Dia,Hora,Local,Visitante,Localscore,Visitantescore,Arbitros,Plusminus,Winner,Ganador
40,Euroleague,Regular Season,5,2023-10-26,21:00:00,Olympiacos Piraeus,Anadolu Efes Istanbul,75,57,"['GARCIA, JUAN CARLOS', 'DIFALLAH, MEHDI', 'KO...",18,Olympiacos Piraeus,Local

Time to concatenate them both! Create a concat of both Dfs, called `competition`

In [62]:
# Your code here: 
comp_el=elteams[["Competition","Localscore", "Visitantescore", "Plusminus", "Ganador"]]

In [63]:
comp_ec=ec_teams_nd_final[["Competition","Localscore", "Visitantescore", "Plusminus", "Ganador"]]

In [64]:
comp_ec.sample()

   Competition  Localscore  Visitantescore  Plusminus Ganador
89     Eurocup          97              70         27   local

In [65]:
comp_el.sample()

   Competition  Localscore  Visitantescore  Plusminus Ganador
76  Euroleague          74              73          1   Local

In [66]:
competition=pd.concat([comp_el, comp_ec], axis=0, ignore_index=True)

In [67]:
competition.head()

  Competition  Localscore  Visitantescore  Plusminus    Ganador
0  Euroleague          94              73         21      Local
1  Euroleague          96              81         15      Local
2  Euroleague          79              82         -3  Visitante
3  Euroleague          80              68         12      Local
4  Euroleague          91              74         17      Local

In [70]:
competition.tail()

    Competition  Localscore  Visitantescore  Plusminus    Ganador
390     Eurocup          64              68         -4  Visitante
391     Eurocup          85              92         -7  Visitante
392     Eurocup          66              86        -20  Visitante
393     Eurocup          78              97        -19  Visitante
394     Eurocup         111             113         -2  Visitante

In [69]:
mapeo = {'local': 'Local', 'visitante': 'Visitante'}

competition = competition.applymap(lambda x: mapeo.get(x, x))

## Well done!

Now we have the combination of both competitions in the same dataframe. Is time for the questions you must answer:

1. How many matches have been in each competition?
2. What are the maximum points that a local team has scored per competition? And the road team as well. 
3. Do the same operations with the average points (per competition)
4. Can you tell me the maximum difference that has been in a match, splitted by competition? 
    - Careful: The Plusminus is both positive and negative, being negative that the Road Team has achieved the Victory. To have the absolute, create a new Column named Absolut_Plusminus. Remember: np.where is life!
5. Also grouped by competition, give me the number of victories of the Locals and the Visitors

In [71]:
# 1
competition.Competition.value_counts()

Competition
Euroleague    225
Eurocup       170
Name: count, dtype: int64

In [72]:
# 2
competition[["Localscore", "Competition"]].groupby("Competition").max()

             Localscore
Competition
Eurocup             120
Euroleague          130

In [73]:
competition[["Visitantescore", "Competition"]].groupby("Competition").max()

             Visitantescore
Competition
Eurocup                 114
Euroleague              126

In [74]:
# 3
competition[["Localscore", "Competition"]].groupby("Competition").mean().round(2)

#hacer distribucion de los puntos, darle contexto a la respuesta, para responder una pregunta que grafico la acompañaria

             Localscore
Competition
Eurocup           85.24
Euroleague        83.28

In [75]:
competition[["Visitantescore", "Competition"]].groupby("Competition").mean().round(2)

             Visitantescore
Competition
Eurocup               83.96
Euroleague            79.17

In [76]:
# 4
competition['Plusminusabsolute'] = np.where(competition['Plusminus'] >= 0, competition['Plusminus'], -competition['Plusminus'])

In [77]:
competition[["Plusminusabsolute", "Competition"]].groupby("Competition").max()

             Plusminusabsolute
Competition
Eurocup                     39
Euroleague                  39

In [78]:
# 5
pd.crosstab(competition['Competition'], competition['Ganador'])
#justo ahora acabo de ver que los resultados de ganador estan en mayuscula y minuscula a diferencia de la competicion. Esto es porque hice el capitalize despues de hacer la limpieza de tablas...

Ganador      Local  Visitante
Competition
Eurocup         90         80
Euroleague     150         75